.menu {
  width: 40px;
  height: 40px;
}

.sideMenuBox {
  position: absolute;
  background-color: white;
  padding: 8px;
  border: 1px solid;
  left: 10px;
}

.sideMenuBox a {
  text-decoration: none;
  color: black;
  display: block;
  border-bottom: 1px solid black;
  padding: 3px;
  margin-top: 3px;
}
