.playBtn {
    width: 40px;
    height: auto;
}

.pauseBtn {
    width: 40px;
    height: auto;
}

.playerBtn {
    width: 40px;
    height: auto;
}

@media only screen and (min-width: 768px){
    .playBtn {
        width: 30px;
    }
    
    .pauseBtn {
        width: 30px;
    }
    
    .playerBtn {
        width: 30px;
        height: auto;
    }
}
