.playBtn {
    width: 40px;
    height: auto;
}

.pauseBtn {
    width: 40px;
    height: auto;
}

.playerBtn {
    width: 40px;
    height: auto;
}

.volumeSlider {
    position: fixed;
    transform: rotate(270deg);
    bottom: 110px;
    height: 40px;
    width: 150px;
    right: -30px;
}

@media only screen and (min-width: 768px){
    .playBtn {
        width: 30px;
    }
    
    .pauseBtn {
        width: 30px;
    }
    
    .playerBtn {
        width: 30px;
        height: auto;
    }

    .volumeSlider {
        position: fixed;
        transform: rotate(270deg);
        width: 100px;
        left: calc(50% + 135px);
        bottom: 100px;
    }
}
